*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px 114px 100px;
  position: relative;
}

.logo {
  margin-top: 24px;
  height: 50px;
}

#contact_modal {
  display: none;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  padding: 0;
  margin: 0;
  border: none;
}

.photograph-header {
  margin-top: 40px;
  background-color: #FAFAFA;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photograph-header div {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
.photograph-header div h1 {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
}
.photograph-header div span {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
}
.photograph-header div p {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.sort {
  position: relative;
  margin-top: 16px;
}
.sort p {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.sort .select {
  position: absolute;
  left: 99px;
  top: -10px;
  background: #911C1C;
  border-radius: 5px;
  z-index: 9999;
}
.sort .select div {
  padding: 23px 18px 14px 20px;
  position: relative;
}
.sort .select div button {
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.sort .select div:nth-child(1) {
  display: flex;
  align-items: center;
}
.sort .select div:nth-child(1) svg {
  margin-left: 26px;
  cursor: pointer;
}
.sort .select div:last-child {
  padding-bottom: 20px;
}

.pseudo-elt::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  background: white;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 20px);
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.section-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 95px;
  margin-top: 58px;
}
.section-media .media-card {
  width: 350px;
  height: 351px;
}
.section-media .media-card img:hover, .section-media .media-card video:hover {
  cursor: pointer;
}
.section-media .media-card img:first-child,
.section-media .media-card video:first-child {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.section-media .media-card .media-card-informations {
  position: relative;
  height: 50px;
}
.section-media .media-card .media-card-informations h2 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 400;
  font-size: 24px;
  color: #911C1C;
  width: 75%;
}
.section-media .media-card .media-card-informations div {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.section-media .media-card .media-card-informations div p {
  font-weight: 500;
  font-size: 24px;
  color: #911C1C;
}
.section-media .media-card .media-card-informations div button {
  display: flex;
}
.section-media .media-card .media-card-informations div img {
  margin-left: 7px;
  object-fit: contain;
  width: 18px;
  height: 25px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header div {
  display: flex;
  align-items: center;
  width: 100%;
}
.modal header img {
  margin-left: 108px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.modal header h2,
.modal h3 {
  font-size: 64px;
}

form {
  margin-top: 19px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
form div:last-child {
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  resize: none;
}

.photographer-informations {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: #DB8876;
  border-radius: 5px;
}
.photographer-informations .photographer-informations-likes {
  display: flex;
}
.photographer-informations .photographer-informations-likes p {
  font-weight: 500;
  font-size: 24px;
}
.photographer-informations .photographer-informations-likes img {
  margin-left: 6px;
  object-fit: contain;
}
.photographer-informations p:last-child {
  margin-left: 67px;
  font-weight: 500;
  font-size: 24px;
}

.formData[data-error]::after {
  content: attr(data-error);
  color: whitesmoke;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  opacity: 0;
  transition: 0.3s;
  font-weight: 900;
  font-size: 24px;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.bground {
  position: fixed;
  z-index: 999999999999;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
  display: none;
}

#media_modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding: 0;
  margin: 0;
}
#media_modal div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#media_modal div:first-child div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
#media_modal div:first-child div:nth-child(1) svg {
  cursor: pointer;
}
#media_modal div:first-child div:nth-child(1) .close {
  position: absolute;
  top: 10px;
  right: 1px;
}
#media_modal div:first-child div:nth-child(1) .arrow {
  margin: 0 17.5px;
}
#media_modal .media_modal_data {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
#media_modal .media_modal_data img, #media_modal .media_modal_data video {
  height: 80vh;
}
#media_modal .media_modal_data p {
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}

button {
  padding: 0;
  border: none;
  background: none;
}

/*# sourceMappingURL=photographer.css.map */
