@import "../libs/reset.scss";

body {
    font-family: "DM Sans", sans-serif;
    max-width: 1240px;
    margin: 0 auto;
}

.logo {
    margin-top: 24px;
    height: 50px;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        row-gap: 19px;
        h1 {
            font-weight: 400;
            font-size: 64px;
            color: #D3573C;
        }
        span {
            font-weight: 400;
            font-size: 24px;
            color: #901C1C;
        }
        p {
            font-weight: 400;
            font-size: 18px;
            color: #525252;
        }
    }
    img {
            height: 200px;
            width: 200px;
            border-radius: 100%;
            object-fit: cover;
    }
}

.section-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 95px;
    .media-card {
        width: 350px;
        height: 351px;
        img:first-child, video:first-child {
            width: 350px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
        }
        .media-card-informations {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            h2 {
                font-weight: 400;
                font-size: 24px;
                color: #911C1C;
            }
            div {
                display: flex;
                flex-direction: row;
                p {
                    font-weight: 500;
                    font-size: 24px;
                    color: #911C1C;
                }
                img {
                    margin-left: 7px;
                    object-fit: contain;
                }
            }
        }
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    header {
        justify-content: space-between;
        width: 100%;
    }
    header img {
        cursor: pointer;
    }
    header h2 {
        font-size: 64px;
        font-weight: normal;
        text-align: center;
    }

}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    label {
        color: #312E2E;
        font-size: 36px;
    }
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}

